$white: #fafafa;
$blue: #2b273d;
$pink: #ec407a;
$black: #212121;

.color-white {
  color: $white;
}

.color-pink {
  color: $pink;
}

.color-blue {
  color: $blue;
}

.color-black {
  color: $black;
}

.background-white {
  background-color: $white;
}

.background-pink {
  background-color: $pink;
}

.background-blue {
  background-color: $blue;
}

.background-black {
  background-color: $black;
}